
*{
  font-family: 'Poppins', sans-serif;
}

.App{
  font-family: 'Poppins', sans-serif;
  display: flex;
}


:root{
  --grey-bg: #f5f6f8;
  --blue-primary-bg: #040440;
  --blue-secondary-bg: #2d2d69;
  --light-bg: #ffffff;
  --text-white: #fff;
}

@media screen and (max-width: 768px) {
  .sidebar-container{
    display: none;
  }
  .cont::-webkit-scrollbar{
    display: none;
  }
}